.messageList {
  border: 1px solid black;
  padding: 0.5rem;
  max-height: 250px;
  overflow: scroll;
}

.message {
  border: 1px solid black;
  padding: 0.5rem;
}

.message__username-and-text-wrapper {
  display: flex;
}

.message__username {
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: blue;
}

.message__username:disabled {
  cursor: auto;
}

.chatContainer {
  border: 2px dotted #F4FFDC;
  padding: 1rem;
  margin: 1rem;
  font-family: 'EB Garamond', serif;
  background-color: #FFFDF5;
  color: black;

}