.eventCard {
    border: 1px solid black;
    background-color: #FFDEC3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friendEvent {
    font-style: italic;
    background-color: cornsilk;
}

.eventsContainer {
    padding: 1rem 2rem;
    max-height: 400px;
    overflow: scroll;
}

.eventCard > button {
    cursor: pointer;
    width: fit-content;
}

.eventCard > h3, .eventCard > div {
    padding:0 2rem;
}

.showWeather {
    margin: 0 2rem;
}

.firstEvent {
    font-weight: bold;
    font-size: x-large;
    margin: 0.5rem 0;
    }
