.formContainer {
    display: flex;
    justify-content: center;
}

.taskForm, .eventForm, .noteForm {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventLocation {
    display: flex;
}

.eventDate {
    display: flex;
}

.eventDate > input {
    margin: 0.25rem;
}

.eventDate > label, .eventLocation > label {
    padding: 1rem;
}