header {
    display: flex;
    justify-content: space-around;
    background-image: url("../images/emptyroad.jpg");
    background-size: cover;
    height: 341px;
 

}

h1 {
    align-self: center;
    color: #FFFDF5;
}

.currentWeatherHeader {
    color: #FFFDF5;
}

.currentLogin {
    color: #FFFDF5;
}

#weatherCard {
    color: #FFFDF5;
}