header {
    display: flex;
    background-image: url("../images/emptyroad.jpg");
    background-size: cover;
    height: 350px;

}


h1 {
    align-self: center;
    flex: 3;
    color: #FFFDF5;
    padding: 2rem;
}

.topRightContent {
    flex: 1;
    margin: 0;
    padding: 0;
}
.currentWeatherContainer {
    margin: 0rem 1rem;
   
}

.currentWeatherHeader {
    color: #FFFDF5;
    
}

.currentLogin {
    color: #FFFDF5;
    padding: 0.25rem 1rem;
   
}

#weatherCard {
    color: #FFFDF5;
}

.logoutButtonContainer {
    padding: 0.25rem 1rem;
}