#completedTask p{
    text-decoration: line-through
}
 .tasksContainer {
    border: 2px dotted #F4FFDC;
    padding: 2rem;
    margin: 2rem;
    font-family: 'EB Garamond', serif;
    padding: 1rem 2rem;
    max-height: 400px;
    overflow: scroll;
    background-color: #dcfff8;
    color: #808080;
    border: 1px solid black;
}

.taskForm {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: #ededed;
    color: black;
}

